*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
.nav{
    position: fixed;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 0px 50px 0.1px rgb(39, 70, 113);
    width: 99vw;
    z-index: 5;

}
.nav img{
    width: 150px;
    height: 60px;
}
.nav > button > i {
    font-size: 20px;
    color: rgb(67, 67, 67);
}
nav button i:hover {
    font-size: 25px;
    transition: 0.5s;
}
.btn__shop{
    border: none;
    background-color: transparent;
    cursor:pointer;
    position: fixed;
    right: 20px;
    top: 20px;
}
.cart__count{
    margin-top: 5px;
    position: absolute;
    color:white;
    right: 10px;
    height: 25px;
    width: 23px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color:rgb(235, 74, 90);
    font-weight:bold;
}
.cart__count__disappear{
    background-color:gold;
}
.modal__hide{
    margin-top: 61px;
    margin-left: 100vw;
    position: fixed;
    height: 600px;
    width: 400px;
    overflow-y:scroll;
    transition: 0.5s;
}
.modal__show{
    margin-left: 71vw;
    background-color: rgba(220, 224, 230, 0.916);
    transition: 0.5s;
    z-index: 2;
    box-shadow: 0px 0px 50px 0.1px rgb(39, 70, 113);
    border-radius: 8px;
}
/* width */
.modal__show::-webkit-scrollbar {
    width: 10px;
    background-color: lightgray;
  }
/* Track */
  .modal__show::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  /* Handle */
  .modal__show::-webkit-scrollbar-thumb {
    background: darkgray; 
  border-radius: 10px;
}

/* Handle on hover */
.modal__show::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
.modal__footer{
    width: 150px;
    height: 25px;
    background-color: rgb(235, 74, 90);
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 100vw;
    box-shadow: 0px 50px 50px 0.1px rgb(39, 70, 113);
    z-index: 2;
}
.modal__footer:hover{
    background-color: rgb(158, 40, 52);
    cursor: pointer;
}
.modal__footer:active {
    transform: translateY(4px);
    transition: 0.2s;
}
.modal__footer__show{
    right: 8vw;
    transition: 0.5s;
    z-index: 2;
}
header{
    background-color:rgb(235, 74, 90);
    display: flex;
    justify-content: center;
    height: 250px;
}
header > img{
    margin-top: 80px;
    margin-bottom: 20px;
    width: 200px;
    height: 160px;
}
.filter__products{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 220px;
    color: rgb(67, 67, 67);
}
.shop__select{
    width: 170px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:300;
    font-size:medium;
    border-radius: 8px;
    width: 250px;
}
.shop__select:hover{
    box-shadow: 0px 0px 20px 0.1px rgb(39, 70, 113);
    border: 2px solid red
}
.product__list{
    margin-left: 150px;
    margin-right: 150px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.product{
    width: 220px;
    height: 320px;
    padding: 10px;
    border-radius: 8px;
}
.product:hover{
    box-shadow: 0px 0px 50px 0.1px rgb(39, 70, 113);
    transform: translateY(-10px);
    transition: 0.5s;
}
.product__img > {
    height: 70%;
    margin: 0;
}
.product__img > img {
    width: 100%;
    height: 100%;
}
.colors{
    display: flex;
    gap: 5px;
    padding-top: 5px;
    padding-left: 15px;
}
.red{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(235, 74, 90);
}
.blue{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(39, 70, 113);
}
.product__name{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    height: 15%;
    padding-right: 20px;
    padding-left: 15px;
}
.product__price{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    padding-right: 20px;
}
.hide__product{
    margin-left: 100vw;
    position: fixed;
    transition: 0.5s;
}
.show__product{
    margin-top: -230px;
    margin-left: 25vw;
    box-shadow: 0px 10px 20px 8px rgba(73, 72, 72, 0.2);
    height: 390px;
    width: 790px;
    background-color: white;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    border-radius: 8px;
}
.product__modal{
    border: 1px solid rgba(41, 41, 40, 0);
    height: 350px;
    width: 750px;
    margin: 20px;
    box-shadow: 0px 10px 20px 8px rgba(73, 72, 72, 0.2);
    display: flex;
    border-radius: 8px;
    position: relative;
}
.product__img__modal{
    height: 90%;
    width: 35%;
    margin: 10px;
    margin-top: 15px;
}
.back-image{
    background-color: rgb(235, 74, 90);
    height: 90%;
    width: 15%;
    position: absolute;
    z-index: -1;
}
.product__img__modal > img{
    width: 120%;
    height: 100%;
    margin-left: -20px;
}
.inf{
    height: 90%;
    width: 55%;
    margin: 15px;
    margin-left: 20px;
}
.product__name__modal{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10px;
}
.product__description__modal{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 35px;
    text-align: justify;
    font-weight: 200;
}
.category__price{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
}
.product__modal__buttons{
    display: flex;
    justify-content: space-around;
}
.add__car__button,
.buy__button{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(235, 74, 90);
    color: white;
    border: none;
}
.add__car__button:hover,
.buy__button:hover{
    background-color: rgb(158, 40, 52);
    cursor: pointer;
}
.add__car__button:active,
.buy__button:active {
    transform: translateY(4px);
    transition: 0.2s;
}
.lateral__modal{
    height: 110px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.lateral__img{
    height: 110px;
    width: 100px;
    padding-top: 5px;
}
.lateral__img > img{
    width: 100%;
    height: 100%;
}
.lateral__delete{
    display: flex;
    align-items: flex-end;
}
.lateral__inf{
    padding: 10px
}
.lateral__amount > p{
    font-weight: 200;
}
.lateral__delete > button{
    color: rgb(235, 74, 90);
    border-radius: 25%;
    font-size: 20px;
    border: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: transparent;
}
footer{
    height: 25px;
    width: 100%;
    background-color: rgb(235, 74, 90);
    display: flex;
    justify-content: center;
    color: white;
    box-shadow: 0px 10px 60px 8px rgb(73, 72, 72);
}
.customer__modal{
    border: 1px solid rgba(41, 41, 40, 0);
    height: 350px;
    width: 750px;
    box-shadow: 0px 10px 20px 8px rgba(73, 72, 72, 0.2);
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
}
.title_customer
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.personal_inf{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}
.title_shipping
{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.personal_shipping{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}
.title_resume
{
    display: flex;
    justify-content: center;
}
.customers_resume{
    width: 75%;
    margin-left: 12%;
}
.subtotal,
.shipping,
.total{
    display: flex;
    justify-content: space-between;
}
.customers_button{
    display: flex;
    justify-content: space-around;
}
.exit__button,
.pay__button{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(235, 74, 90);
    color: white;
    border: none;
}
.exit__button:hover,
.pay__button:hover{
    background-color: rgb(158, 40, 52);
    cursor: pointer;
}
.exit__button:active,
.pay__button:active {
    transform: translateY(4px);
    transition: 0.2s;
}
.exit__button_1{
    height: 20px;
    width: 20px;
    background-color: rgb(235, 74, 90);
    position:absolute;
    top: -18px;
    right: 0px;
}
input{
    background-color:beige;
    border-radius: 8px;
    height: 30px;
    width: 220px;
    border: none;
    text-align: center;
}
/* Dispositivos grandes */
@media screen and (max-width: 992px) {
    .nav{
        width: 98vw;
    }
    .show__product{
        height: 390px;
        width: 590px;
        margin-top: 40px;
    }
    .product__modal{
        height: 350px;
        width: 540px;
    }
    .lateral__modal{
        width: 96%;
    }
    .inf{
        height: 120px;
        width: 320px;
    }
    .product__modal__buttons{
        height: 90px;
        width: 260px;
        gap:15px;
    }
    .modal__show{
        margin-left: 0vw;
        width: 98vw;
    }
    .product__list{
        margin-left: 50px;
        margin-right: 50px;
    }
    header{
        width: 100vw;
        height: 180px;
    }
    header > img{
        width: 140px;
        height: 80px;
    }
    .filter__products{
        padding-left: 100px;
    }
    .hide__product{
        height: 380px;
        width: 570px;
    }
    .customer__modal{
        height: 340px;
        width: 530px;
    }
    input{
        width: 150px;
    }
}
/* Tablets */
@media screen and (max-width: 768px) {
    .inf{
        height: 420px;
        width: 240px;
    }
    .product__modal__buttons{
        display: block;
    }
    .product__img__modal{
        display: flex;
        align-items: center;
    }
    .product__img__modal >img{
        height: 200px;
        width: 210px;
    }
    .back-image{
        height: 200px;
    }
    .modal__show{
        margin-left: 0vw;
        width: 98vw;
    }
    .product__list{
        margin-left: 25px;
        margin-right: 25px;
    }
    header{
        width: 100vw;
        height: 150px;
    }
    header > img{
        margin-top: 65px;
    }
    .filter__products{
        padding-left: 50px;
        height: 80px;
        margin-bottom: 0;
    }
    .filter__products > h2{
        font-size: 22px;
        padding-top: 0;
    }
    .shop__select{
        height: 25px;;
    }
    .show__product{
        height: 500px;
        width: 540px;
        margin-left: 5vw;
        margin-top: 50px;
    }
    .hide__product{
        height: 500px;
        width: 540px;
    }
    .customer__modal{
        width: 490px;
        height: 450px;
    }
    .product__modal{
        width: 490px;
        height: 450px;
    }
    .lateral__modal{
        width: 95%;
    }
}
/* Dispositivos pequeños */
@media screen and (min-width: 320px) and (max-width: 576px) {
    header{
        height: 130px;
    }
    header > img{
        margin-top: 70px;
        height: 50px;
        width: 80px;
    }
    .customer__modal{
        width: 260px;
        height: 440px;
    }
    input{
        width: 70px;
        font-size: 10px;
    }
    .show__product{
        margin-left: 10px;
        height: 480px;
        width: 300px;
        margin-top: 10px;
    }
    .title_shipping,
    .title_resume{
        font-size: small;
    }
    .customers_button {
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
    }
    .product__modal{
        height: 150px;
        width: 240px;
        display: block;
        background-color: transparent;
        margin-left: 35px;
    }
    .lateral__modal{
        width: 94%;
    }
    .inf{
        height: 120px;
        width: 280px;
        margin: -5%;
    }
    .product__modal__buttons{
        display: flex;
    }
    .product__img__modal{
        display: flex;
        justify-content: center;
        width: 290px;
    }
    .product__img__modal >img{
        height: 140px;
        width: 120px;
        padding-top: 0px;
    }
    .back-image{
        height: 130px;
        width: 50px;
    }
    .product__name__modal{
        font-size: 15px;
        margin-left: -10%;
        margin-top: 5%;
    }
    .product__description__modal{
        font-size: 13px;
    }
    .category__price{
        font-size: 14px;
        margin-left: -10%;
    }
    .modal__show{
        margin-left: 0vw;
        width: 98vw;
    }
    .filter__products{
        padding-left: 20%;
        margin-bottom: 0%;
        display:block;
    }
    .filter__products > h2{
        font-size: 17px;
        width: 200px;
    }
    .modal__footer{
        width: 100px;
        height: 25px;
        right: -50vw;
        margin-left: 100vw;
        font-size: small;
    }
    .modal__footer__show{
        right: 3vw;
        top: 54vh;
    }
}